
body{
margin:0;
font-family:Georgia,serif;
background:#f5ede0;
color:#4a2c1d;
scroll-behavior:smooth;
}

nav{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#5A0F1F;
z-index:1000;
}

.logo{
color:#D4AF37;
font-size:28px;
font-weight:bold;
}

nav ul{
display:flex;
gap:25px;
list-style:none;
margin-right:50px;
}

nav a{
color:#fff;
text-decoration:none;
font-weight:600;
}

.hero{
height:100vh;
position:relative;
display:flex;
align-items:center;
justify-content:center;
background:url('../assets/ring.jpg') center center/cover no-repeat;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero-content{
position:relative;
z-index:2;
text-align:center;
color:#fff;
}

.family-text{
letter-spacing:3px;
color:#D4AF37;
}

.hero h1{
font-size:80px;
margin:0;
color:#D4AF37;
}

.hero h2{
font-size:45px;
margin:0;
color:#fff;
}

.invite-text{
font-size:22px;
}

.hero h3{
font-size:40px;
font-style:italic;
color:#D4AF37;
}

.countdown-box{
display:inline-block;
margin-top:20px;
padding:20px 35px;
background:#5A0F1F;
border:2px solid #D4AF37;
border-radius:12px;
font-size:24px;
}

.parents-section{
display:flex;
justify-content:center;
gap:80px;
padding:60px 20px;
background:#5A0F1F;
color:white;
}

.parent-card{
text-align:center;
}

.story-section{
display:flex;
gap:40px;
align-items:center;
padding:80px;
background:#F8F2E8;
}

.story-image img{
width:420px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.story-content h2{
font-size:48px;
color:#5A0F1F;
}

.story-content p{
font-size:20px;
line-height:1.8;
}

.section{
padding:80px 40px;
}

.card{
background:#5A0F1F;
color:white;
padding:25px;
border-radius:12px;
margin:20px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#5A0F1F;
color:white;
border-radius:8px;
text-decoration:none;
margin:10px;
}

footer{
background:#5A0F1F;
color:white;
padding:30px;
text-align:center;
}

@media(max-width:768px){

.hero h1{
font-size:50px;
}

.story-section{
flex-direction:column;
padding:30px;
}

.story-image img{
width:100%;
}

.parents-section{
flex-direction:column;
gap:30px;
}

nav ul{
display:none;
}

}
